Repository wantedPreOnboarding/19_06th_cola_dashboard, pull requests merged in 2022-02, with the labels that each got.

#1 [송현] Add - 공통 스타일 추가
  src/styles/globalStyles.ts
  src/styles/styled.d.ts
  src/styles/theme.ts
Labels: style

#2 [송현]Add - Header 레이아웃 추가, DataJson 추가
  public/data/dashboard.json
  src/App.tsx
  src/components/README.md
  src/components/common/Header/Header.style.ts
  src/components/common/Header/Header.tsx
  src/components/common/index.tsx
  src/styles/theme.ts
Labels: style

#9 [수임] Add - 플로팅 버튼 추가 및 assets/images env 경로 추가
  .env
  public/assets/images/filter.svg
  src/components/common/FloatBtn/FloatBtn.styled.ts
  src/components/common/FloatBtn/FloatBtn.tsx
  src/components/common/FloatBtn/FloatBtn.type.ts
Labels: style

#10 [송현] Add - Modal 레이아웃 추가
  src/components/common/Header/Header.styled.ts
  src/components/common/Modal/Modal.styled.ts
  src/components/common/Modal/Modal.tsx
  src/components/common/index.tsx
  src/index.tsx
Labels: test

#18 Add - 검색 컴포넌트 Debound 적용
  src/components/common/Search/Search.Test.tsx
  src/components/common/Search/Search.prop.ts
  src/components/common/Search/Search.tsx
  src/hooks/useDebounce.ts
  src/utils/filterSearch/filterSearch.ts
  src/utils/filterSearch/filterSearch.type.ts
Labels: enhancement

#23 [송현] Add - Modal 레이아웃 완성
  src/App.tsx
  src/components/common/Modal/Modal.styled.ts
  src/components/common/Modal/Modal.tsx
  src/pages/Dashboard/Dashboard.tsx
Labels: style

#21 Modify 폴더명 Filter=>Filtering 으로 변경&Add 대쉬보드에 메뉴박스 컴포넌트 생성 및 스타일링 및 검색 연결
  package.json
  src/App.tsx
  src/components/Filtering/CheckboxLabel/CheckBoxLabel.styled.ts
  src/components/Filtering/CheckboxLabel/CheckBoxLabel.type.ts
  src/components/Filtering/CheckboxLabel/CheckboxLabel.tsx
  src/components/Filtering/FilterBar/FilterBar.styled.ts
  src/components/Filtering/FilterBar/FilterBar.tsx
  src/components/Filtering/FilterBar/FilterBar.type.ts
  src/components/Filtering/FilterBox/FilterBox.styled.ts
  src/components/Filtering/FilterBox/FilterBox.tsx
  src/components/Filtering/FilterCheckBoxs/FilterCheckBox.styled.ts
  src/components/Filtering/FilterCheckBoxs/FilterCheckBoxs.tsx
  src/components/Filtering/FloatBtn/FloatBtn.styled.ts
  src/components/Filtering/FloatBtn/FloatBtn.tsx
  src/components/Filtering/FloatBtn/FloatBtn.type.ts
  src/components/Filtering/FloatFilterBox/FloatFilterBox.styled.ts
  src/components/Filtering/FloatFilterBox/FloatFilterBox.tsx
  src/components/Filtering/index.ts
  src/components/MenuBox/MenuBox.styled.ts
  src/components/MenuBox/MenuBox.tsx
  src/components/OrderSheet/OrderSheet.tsx
  src/components/filter/FilterProps.type.ts
  src/pages/Dashboard/Dashboard.tsx
  yarn.lock
Labels: enhancement, style

#24 [송현] Add - 모달 닫기, 슬라이드 기능 구현
  src/components/common/Modal/Modal.styled.ts
  src/components/common/Modal/Modal.tsx
Labels: enhancement, test

#25 [다빈] Add - 팝업 필터 컴포넌트 구현
  src/components/FilterPopup/FilterPopup.style.ts
  src/components/FilterPopup/FilterPopup.tsx
  src/components/FilterPopup/FilterPopup.type.ts
  src/components/common/Search/Search.style.ts
  src/components/common/Search/Search.tsx
  src/components/common/Search/Search.type.ts
  src/components/index.ts
  src/redux/slices/orderSheet.ts
Labels: enhancement

#29 Add - const Reverse 값 추가, 검색 스타일 수정
  src/components/common/Search/Search.style.ts
  src/components/common/Search/Search.tsx
  src/consts/orderReverseSheet.ts
  src/consts/orderSheet.ts
Labels: style, setting
